<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProfile name="development">
        <logger name="hr.vsite.njp" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>
    <springProfile name="production">
        <logger name="hr.vsite.njp" level="WARN" additivity="false">
            <appender-ref ref="FILE"/>
        </logger>
    </springProfile>
    <logger name="hr.vsite.njp" level="TRACE"/>
</configuration>